.counter {
  margin: auto;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

.counter h1 {
  font-size: 120px;
  font-weight: bolder;
}

.line {
  height: 45vh;
  margin-bottom: 2vh;
  border: 1px solid white;
  border-radius: 50px;
}

.titleBox {
  margin: auto;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  height: 13vh;
  /* border: 2px solid black; */
}

.edit {
  z-index: 10000;
  height: 15%;
  flex-wrap: nowrap;
}

.title {
  display: flex;
  align-items: center;
  text-align: center;
  /* border: 2px solid rgb(255, 2, 2); */
  justify-content: center;
  width: 35vw;
  height: 85%;
}

.buttonsBox {
  margin-bottom: 50px;
  display: flex;
}

.pointsButton {
  background-color: rgb(75, 140, 82);
  border-radius: 50px;
  border: 2px solid rgb(255, 255, 255);
  width: 50px;
  height: 50px;
  margin: 20px;
  font-size: 30px;
  color: rgb(255, 255, 255);
  font-weight: bolder;
}
