@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1280px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  text-rendering: optimizeLegibility;
  font-synthesis: none;
  font-weight: 400;
  line-height: 1.1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("./assets/background.jpeg");
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
}